{{ define "main" }}

<h1>About</h1>

<p>
I'm Morgan, a second year systems biology / bioinformatics PhD student in the Forslund Lab at the Experimental and Clinical Research Center in Berlin, Germany. <a href="about/">(more)</a>
</p>

<h1>Latest</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 ((where .Pages ".Params.private" "!=" true) sort .Data.Pages "Date" "desc")}}
        <div class="post">
            <div class="date">{{ .PublishDate.Format "2 Jan 2006" }}</div>    
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Resources</h1>

<div class="posts-list">
{{ with .Site.GetPage "/resources" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
       <div class="post">
            <div class="date">{{ .PublishDate.Format "2 Jan 2006" }}</div>    
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>   
    {{ end }}
{{ end }}
</div>

{{ end }}